.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}
.thumbnail {
    height: 100%;
}

.jumbotron, .well {
    background-color: white;
}

.well {
    border: none;
}

.social-media {
    float: right !important;
}

@media all and (min-width:960px) {
    .thumbnail:hover {
        position:relative;
        top:-25px;
        left:-35px;
        width:500px;
        height:100%;
        display:block;
        z-index:999;
    }
}

.fa-box {
    padding: 20px;
    font-size: 40px;
    width: 80px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa-rounded {
    padding: 20px;
    font-size: 40px;
    width: 80px;
    border-radius: 10%;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa-circle {
    padding: 20px;
    font-size: 40px;
    width: 80px;
    border-radius: 100%;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa-circle-img {
    width: 80px;
    padding-bottom: 20px;
}

.fa:hover, .fa-circle-img:hover {
    opacity: 0.7;
}

.fa-instagram {
    background: #CC9797;
    color: white;
}